*{
  margin: 0px;
  padding:0px;
}

h1{
    background-color:  rgb(28, 4, 29);
    text-align: left;
    font-family: 'Arimo', sans-serif;
    font-size: 50px;
    color: aliceblue;
    margin: auto;
    top: 42px;
    left: 217px;
    position: absolute;
   
}
h2{
  margin:30px;
 text-align: center;
  color: aliceblue;
}

h3{
  background-color: rgb(202, 130, 187);
  width: 80px;
  margin: 10px;
  text-align: center;
  color: aliceblue;
  font-size: 20px;
}
p{
  margin: 5px;
  color: aliceblue;
  font-size: 15px;
  text-align: justify;
}

nav ul center {

  background-color:  rgb(28, 4, 29);
  height: 40px;
  width: auto;
  text-align: center;
}
nav ul li {
    display: inline-block;
}

a{
  text-decoration: none;
  text-align: center;
 margin: 10px;
  color:white;
  font-size: 20px;
  display: inline-block;
 font-family: 'Arimo', sans-serif;

}
a:hover{
  background-color: rgb(178, 46, 196);
  padding: 0px;
}

  body{
      background-color:  rgb(28, 4, 29);
      margin: 0;
      padding: 0;
  }
   .logo {
   width: 140px;
   height: 140px;
   margin: 10px 30px;
  }

  .slider{
    width: auto;
    height: 400px;
    margin: auto;
    overflow: hidden;
  }
  .slider ul{
    display: flex;
    padding: 0%;
    width: 400%;

    animation: cambio 15s infinite alternate;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);

  }
  .slider ul li{
    width: 100%;
     list-style: none;
  }
  .slider img{
    width: 100%;
  }



  @keyframes cambio{
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}

    

  }


  
  .pagina1{

    width: 1200px;
    height: auto;
    margin: 65px 30px;
  }
  .uno1{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 750px 30px;
    background-color: rgba(128, 121, 103, 0);
    width: 250px;
    height: 300px;
    float: left;
    overflow: hidden;
  
  }
  .uno2{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 750px 335px;
    background-color: rgba(128, 121, 103, 0);
    width: 250px;
    height: 300px;
    float: left;
    overflow: hidden;
  
  }
  
  
  .uno1>article,.uno2>article{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 187, 240,0.4);
    transform: rotate(90deg) translate(350px ,-350px);
    transition-duration: .5s;
  }
  .uno1:hover>article,.uno2:hover>article{
    transform: rotate(0deg) translate(0px);
  }
  
  .uno1>article>h4{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    padding:20px 20px;
    transform: translate(280px,-60px) ;
    transition-duration: .5s;
    transition-delay: 1s ;
  }
  
  
  .uno2>article>h4{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    padding:20px 20px;
    transform: translate(280px,-60px);
    transition-duration: .5s;
    transition-delay: 1s ;
  }
  .uno1:hover>article>h4, .uno2:hover>article>h4{
    transform: translate(0px);
  }
  .uno1>article>p,.uno2>article>p{
    transform: translate(-700px,-390px);
    transition-duration: .5s;
    transition-delay: 1s;
  }
  .uno1:hover>article>p,.uno2:hover>article>p{
    transform: translateX(0px);
    transform: translateY(0px);
  }
  .uno1>article>h3,.uno2>article>h3{
    transform: translatey(160px);
    transition-duration: .5s;
    transition-delay:1s;
    font-family: 'Anton', sans-serif;
  }
  .uno1:hover>article>h3,.uno2:hover>article>h3{
    transform: translate(0px);
  }
  
 
  .uno3{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 750px 650px;
    background-color: rgba(128, 121, 103, 0);
    width: 250px;
    height: 300px;
    float: left;
    overflow: hidden;
  
  }
  .uno4{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 750px 970px;
    background-color: rgba(128, 121, 103, 0);
    width: 250px;
    height: 300px;
    float: left;
    overflow: hidden;
  
  }
  
  
  .uno3>article,.uno4>article{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 187, 240,0.4);
    transform: rotate(90deg) translate(350px ,-350px);
    transition-duration: .5s;
  }
  .uno3:hover>article,.uno4:hover>article{
    transform: rotate(0deg) translate(0px);
  }
  
  .uno3>article>h4{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    padding:20px 20px;
    transform: translate(280px,-60px) ;
    transition-duration: .5s;
    transition-delay: 1s ;
  }
  
  
  
  .uno4>article>h4{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    padding:20px 20px;
    transform: translate(280px,-60px);
    transition-duration: .5s;
    transition-delay: 1s ;
  }
  .uno3:hover>article>h4, .uno4:hover>article>h4{
    transform: translate(0px);
  }
  .uno3>article>p,.uno4>article>p{
    transform: translate(-700px,-390px);
    transition-duration: .5s;
    transition-delay: 1s;
  }
  .uno3:hover>article>p,.uno4:hover>article>p{
    transform: translateX(0px);
    transform: translateY(0px);
  }
  .uno3>article>h3,.uno4>article>h3{
   
    transform: translatey(160px);
    transition-duration: .5s;
    transition-delay:1s;
    font-family: 'Anton', sans-serif;
  }
  .uno3:hover>article>h3,.uno4:hover>article>h3{
    transform: translate(0px);
  }
  
  



  .uno5{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 1130px 30px;
    background-color: rgba(128, 121, 103, 0);
    width: 250px;
    height: 300px;
    float: left;
    overflow: hidden;
  
  }
  .uno6{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 1130px 335px;
    background-color: rgba(128, 121, 103, 0);
    width: 250px;
    height: 300px;
    float: left;
    overflow: hidden;
  
  }
  
  
  .uno5>article,.uno6>article{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 187, 240,0.4);
    transform: rotate(90deg) translate(350px ,-350px);
    transition-duration: .5s;
  }
  .uno5:hover>article,.uno6:hover>article{
    transform: rotate(0deg) translate(0px);
  }
  
  .uno5>article>h4{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    padding:20px 20px;
    transform: translate(280px,-60px) ;
    transition-duration: .5s;
    transition-delay: 1s ;
  }
  
  
  
  .uno6>article>h4{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    padding:20px 20px;
    transform: translate(280px,-60px);
    transition-duration: .5s;
    transition-delay: 1s ;
  }
  .uno5:hover>article>h4, .uno6:hover>article>h4{
    transform: translate(0px);
  }
  .uno5>article>p,.uno6>article>p{
   
    transform: translate(-700px,-390px);
    transition-duration: .5s;
    transition-delay: 1s;
  }
  .uno5:hover>article>p,.uno6:hover>article>p{
    transform: translateX(0px);
    transform: translateY(0px);
  }
  .uno5>article>h3,.uno6>article>h3{
    margin: 0px 150px;
    padding: 0;
    font-size: 25px;
    background-color: rgb(89, 166, 189);
    transform: translatey(160px);
    transition-duration: .5s;
    transition-delay:1s;
    font-family: 'Anton', sans-serif;
  }
  .uno5:hover>article>h3,.uno6:hover>article>h3{
    transform: translate(0px);
  }


  .uno7{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 1130px 650px;
    background-color: rgba(128, 121, 103, 0);
    width: 250px;
    height: 300px;
    float: left;
    overflow: hidden;
  
  }
  .uno8{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 1130px 970px;
    background-color: rgba(128, 121, 103, 0);
    width: 250px;
    height: 300px;
    float: left;
    overflow: hidden;
  
  }
  
  
  .uno7>article,.uno8>article{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 187, 240,0.4);
    transform: rotate(90deg) translate(350px ,-350px);
    transition-duration: .5s;
  }
  .uno7:hover>article,.uno8:hover>article{
    transform: rotate(0deg) translate(0px);
  }
  
  .uno7>article>h4{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    padding:20px 20px;
    transform: translate(280px,-60px) ;
    transition-duration: .5s;
    transition-delay: 1s ;
  }
  
  
  
  .uno8>article>h4{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    padding:20px 20px;
    transform: translate(280px,-60px);
    transition-duration: .5s;
    transition-delay: 1s ;
  }
  .uno7:hover>article>h4, .uno8:hover>article>h4{
    transform: translate(0px);
  }
  .uno7>article>p,.uno8>article>p{
 
    transform: translate(-700px,-390px);
    transition-duration: .5s;
    transition-delay: 1s;
  }
  .uno7:hover>article>p,.uno8:hover>article>p{
    transform: translateX(0px);
    transform: translateY(0px);
  }
  .uno7>article>h3,.uno8>article>h3{
    margin: 0px 150px;
    padding: 0;
    font-size: 25px;

    background-color: rgb(89, 166, 189);
    transform: translatey(160px);
    transition-duration: .5s;
    transition-delay:1s;
    font-family: 'Anton', sans-serif;
  }
  .uno7:hover>article>h3,.uno8:hover>article>h3{
    transform: translate(0px);
  }
  
  footer .uno{
    width: 40px;
    height: 40px;
    margin: 940px 0px 0px 532px;
  }
  footer .dos{
      width: 52px;
      height: 52px;
      margin: 0px 0px 0px 20px ;
    }
  footer .tres{
        width: 40px;
        height: 40px;
        margin: 0px 0px 0px 20px ;
  }
  
  footer p{
 text-align: center;
 margin: 15px;
 color: aliceblue;
 font-size: 15px;
 text-align: justify;

  }
  