*{
  margin: 0px;
  padding:0px;
}

h1{
  font-family: 'Roboto', sans-serif;
    position: absolute;
    z-index:0;
    margin: -350px  0px 0px 326px;
    color:white;
   font-size: 30px;
   
  
}
article h1 {
        width: 100px;
        height: 60px;
        background-color: rgba(0, 255, 255, 0.64);
        position: absolute;
        transform: rotate(360deg) translate(350px ,-350px);
        transition-duration: .5s;
        text-align: center;
}
h2{
  margin:30px;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
}

h3{
  font-family: 'Roboto', sans-serif;
  border: solid 2px skyblue;
  margin: 5px;
  text-align: center;
  color: rgb(252, 249, 249);
  font-size: 20px;
}
p{
  font-family: 'Roboto', sans-serif;
  margin: -260px 337px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: justify;
}
.borde{
color: #f0ee8f;
border-bottom: solid 0.4px #f0ee8f;

}
nav{
 
  text-align: right;
  border-bottom: solid 0.4px #f0ee8f;
  background-color:  rgb(28, 4, 29);
  padding: 20px 0;
}
nav ul li:first-child {

  top:0px;
  height: 90px;
  bottom: 0px;
  margin: 0px  0px;
}
nav ul li:first-child a img{
  height: 90px;
  margin:-47px 12px -39px 0px;
}

nav ul li:first-child a{
  padding: 0;

}
nav ul li {
    display: inline-block;
}
nav ul li a {
  padding: 18px 25px;
  text-decoration: none;
  color:white;
  font-size: 20px;
  display: inline-block;
  font-family: 'Arimo', sans-serif;
}


section a{
  text-decoration: none;
  text-align: center;
  margin: 10px;
  color:white;
  font-size: 20px;
  display: inline-block;
 font-family: 'Arimo', sans-serif;
}

  body{
     
    background-color:  rgb(28, 4, 29);


  }

  .slider{
    width: auto;
    height: 650px;
    margin: -47px 0px;
    overflow: hidden;
    position: relative;
    
  }
  .slider ul{
    display: flex;
    padding: 0%;
    width: 400%;
    animation: cambio 8s infinite alternate;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);

  }
  .slider ul li{
    width: 100%;
     list-style: none;
  }
  .slider img{
    width: 100%;
    height: 662px;
    object-fit: initial;
  }

  @keyframes cambio{
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

  }
  .slider h1{
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    margin: -325px 5px;
    position: absolute;
    z-index: 0;
    font-size: 50px;
  }

  
  .peli1{
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    font-size: 30px;
    margin: 150px 50px;
    position: relative;

  }

  .uno1{
    position: relative;
    width: 250px;
    height: 350px;
    margin:88px 23px 40px 33px;
    background-color: rgba(128, 121, 103, 0);
    display: inline-block;
    overflow: hidden;
  
  }
  .uno2{
    position: relative;
    width: 250px;
    height: 350px;
    margin: 40px 29px;
    background-color: rgba(128, 121, 103, 0);
    display: inline-block;
    overflow: hidden;
  
  }
  
  
  .uno1>article,.uno2>article{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 350px;
    background-color: rgba(32, 10, 29, 0.4);
    transform: rotate(90deg) translate(350px ,-350px);
    transition-duration: .5s;
  }
  .uno1:hover>article,.uno2:hover>article{
    transform: rotate(0deg) translate(0px);
  }
  
  .uno1>article>h4{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    padding:20px 20px;
    transform: translate(280px,-60px) ;
    transition-duration: .5s;
    transition-delay: 1s ;
  }
  
  
  
  .uno2>article>h4{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    padding:20px 20px;
    transform: translate(280px,-60px);
    transition-duration: .5s;
    transition-delay: 1s ;
  }
  .uno1:hover>article>h4, .uno2:hover>article>h4{
    transform: translate(0px);
  }
  .uno1>article>p,.uno2>article>p{
    margin:20px;
    transform: translate(-700px,-390px);
    transition-duration: .01s;
    transition-delay: 1s;
  }
  .uno1:hover>article>p,.uno2:hover>article>p{
    transform: translateX(0px);
    transform: translateY(0px);
  }
  .uno1>article>h3,.uno2>article>h3{
   
    transform: translatey(160px);
    transition-duration: .5s;
    transition-delay:1s;
    font-family: 'Anton', sans-serif;
  }
  .uno1:hover>article>h3,.uno2:hover>article>h3{
    transform: translate(0px);
  }
  

 
  .uno3{
    position: relative;
    width: 250px;
    height: 350px;
    margin: 40px 29px;
    background-color: rgba(128, 121, 103, 0);
    display: inline-block;
    overflow: hidden;
  
  }
  .uno4{
    position: relative;
    width: 250px;
    height: 350px;
    margin: 40px 29px;
    background-color: rgba(128, 121, 103, 0);
    display: inline-block;
    overflow: hidden;
  
  }
  
  
  .uno3>article,.uno4>article{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 350px;
    background-color: rgba(32, 10, 29, 0.4);
    transform: rotate(90deg) translate(350px ,-350px);
    transition-duration: .5s;
  }
  .uno3:hover>article,.uno4:hover>article{
    transform: rotate(0deg) translate(0px);
  }
  
  .uno3>article>h4{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    padding:20px 20px;
    transform: translate(280px,-60px) ;
    transition-duration: .5s;
    transition-delay: 1s ;
  }
  
  
  
  .uno4>article>h4{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    padding:20px 20px;
    transform: translate(280px,-60px);
    transition-duration: .5s;
    transition-delay: 1s ;
  }
  .uno3:hover>article>h4, .uno4:hover>article>h4{
    transform: translate(0px);
  }
  .uno3>article>p,.uno4>article>p{
    margin:20px;
    transform: translate(-700px,-390px);
    transition-duration: .5s;
    transition-delay: 1s;
  }
  .uno3:hover>article>p,.uno4:hover>article>p{
    transform: translateX(0px);
    transform: translateY(0px);
  }
  .uno3>article>h3,.uno4>article>h3{
   
    transform: translatey(160px);
    transition-duration: .5s;
    transition-delay:1s;
    font-family: 'Anton', sans-serif;
  }
  .uno3:hover>article>h3,.uno4:hover>article>h3{
    transform: translate(0px);
  }
  
  



  .uno5{
    position: relative;
    width: 250px;
    height:350px;
    margin: 20px 29px;
    background-color: rgba(128, 121, 103, 0);
    display: inline-block;
    overflow: hidden;
  
  }
  .uno6{
    position: relative;
    width: 250px;
    height:350px;
    margin: 20px 29px;
    background-color: rgba(128, 121, 103, 0);
    display: inline-block;
    overflow: hidden;
  
  }
  
  
  .uno5>article,.uno6>article{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 350px;
    background-color: rgba(32, 10, 29, 0.4);
    transform: rotate(90deg) translate(350px ,-350px);
    transition-duration: .5s;
  }
  .uno5:hover>article,.uno6:hover>article{
    transform: rotate(0deg) translate(0px);
  }
  
  .uno5>article>h4{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    padding:20px 20px;
    transform: translate(280px,-60px) ;
    transition-duration: .5s;
    transition-delay: 1s ;
  }
  
  
  
  .uno6>article>h4{
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    padding:20px 20px;
    transform: translate(280px,-60px);
    transition-duration: .5s;
    transition-delay: 1s ;
  }
  .uno5:hover>article>h4, .uno6:hover>article>h4{
    transform: translate(0px);
  }
  .uno5>article>p,.uno6>article>p{
    margin:20px;
    transform: translate(-700px,-390px);
    transition-duration: .5s;
    transition-delay: 1s;
  }
  .uno5:hover>article>p,.uno6:hover>article>p{
    transform: translateX(0px);
    transform: translateY(0px);
  }
  .uno5>article>h3,.uno6>article>h3{
    margin: 0px 150px;
    padding: 0;
    font-size: 25px;
    background-color: rgb(89, 166, 189);
    transform: translatey(160px);
    transition-duration: .5s;
    transition-delay:1s;
    font-family: 'Anton', sans-serif;
  }
  .uno5:hover>article>h3,.uno6:hover>article>h3{
    transform: translate(0px);
  }


  .uno7{
    position: relative;
    margin: 20px 29px;
    background-color: rgba(128, 121, 103, 0);
    width: 250px;
    height: 350px;
    display: inline-block;
    overflow: hidden;
    
  
  }
  .uno8{
    position: relative;
    width: 250px;
    height:350px;
    margin: 20px 29px;
    background-color: rgba(128, 121, 103, 0);
    display: inline-block;
    overflow: hidden;
  
  }
  
  
  .uno7>article,.uno8>article{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 350px;
    background-color: rgba(32, 10, 29, 0.4);
    transform: rotate(90deg) translate(350px ,-350px);
    transition-duration: .5s;
  }
  .uno7:hover>article,.uno8:hover>article{
    transform: rotate(0deg) translate(0px);
  }
  
  .uno7>article>h4{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    padding:20px 20px;
    transform: translate(280px,-60px) ;
    transition-duration: .5s;
    transition-delay: 1s ;
  }
  
  
  
  .uno8>article>h4{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    padding:20px 20px;
    transform: translate(280px,-60px);
    transition-duration: .5s;
    transition-delay: 1s ;
  }
  .uno7:hover>article>h4, .uno8:hover>article>h4{
    transform: translate(0px);
  }
  .uno7>article>p,.uno8>article>p{
    margin:20px;
    transform: translate(-700px,-390px);
    transition-duration: .5s;
    transition-delay: 1s;
  }
  .uno7:hover>article>p,.uno8:hover>article>p{
    transform: translateX(0px);
    transform: translateY(0px);
  }
  .uno7>article>h3,.uno8>article>h3{
    margin: 0px 150px;
    padding: 0;
    font-size: 25px;
    background-color: rgb(89, 166, 189);
    transform: translatey(160px);
    transition-duration: .5s;
    transition-delay:1s;
    font-family: 'Anton', sans-serif;
  }
  .uno7:hover>article>h3,.uno8:hover>article>h3{
    transform: translate(0px);
  }

  
 .uno{
    width: 40px;
    height: 40px;
   margin: 66px 0px -40px -750px;
  }
 .dos{
      width: 52px;
      height: 52px;
      margin: 30px 0px -46px 50px;
    }
 .tres{
        width: 40px;
        height: 40px;
        margin: -3px 0px 0px 701px;
  }
  
  footer p{
  text-align: center;
  margin: 25px 206px;
  color: aliceblue;
  font-size: 15px;
  }

 
 
  
  .ANIMACION img, .AVENTURA img, .ACCION img, .COMEDIA img, .ROMANCE img{
   margin: 30px 20px;
  }
 
  .uno0{
    width: 43px;
    height: 43px;
    margin: 0px 0px -2px 544px;;

  }
   .dos0{
    width: 46px;
      height: 46px;
      margin:0px 0px -4px 17px;;
    
  }
  .tres0{
    width: 36px;
    height: 36px;
    margin:-38px 0px 16px 682px ;
    
  }
  .uno01{
    width: 43px;
    height: 43px;
    margin: 10px 0px -2px 544px;;

  }
   .dos01{
    width: 46px;
      height: 46px;
      margin:10px 0px -4px 17px;;
    
  }
  .tres01{
    width: 36px;
    height: 36px;
    margin:-38px 0px 16px 682px ;
    
  }
  .uno02{
    width: 43px;
    height: 43px;
    margin: 10px 0px -2px 544px;;

  }
   .dos02{
    width: 46px;
      height: 46px;
      margin:10px 0px -4px 17px;;
    
  }
  .tres02{
    width: 36px;
    height: 36px;
    margin:-38px 0px 0px 24px ;
    
  }
  .uno03{
    width: 43px;
    height: 43px;
    margin: 10px 0px -2px 544px;;

  }
   .dos03{
    width: 46px;
      height: 46px;
      margin:10px 0px -4px 17px;;
    
  }
  .tres03{
    width: 36px;
    height: 36px;
    margin:-38px 0px 0px 24px ;
    
  }
  
  .logo1{
    width: 140px;
    height: 140px;
    background-color:rgb(28, 4, 9);
    float: left;
  }
  .parrafo{
    color: aliceblue;
    position: relative;
    
  }
  

  .video-peli{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    margin: -47px 0px 10px 0px;
    background-color: rgb(28, 4, 29);
    }

    .video-peli video{
      width: 100%;
      height: auto;
      background: white;
     position: relative;
      text-align: center;
    }
    
.IMAGEN{
  position: absolute;
  margin: 40px;
}

.PROTAGONISTAS{
  margin: 450px 0px 0px 12px;
}
  .PROTAGONISTAS>h2{
    margin: 450px 0px 26px 59px;
    }
.pie_pagina{
  margin: 50px 100px 0px 0px; 
 
}

  
.zoolander{
  margin: 0px;
  position: absolute;

}
.zoolander p{
  position: relative; 
  margin:0px;
}


